<nav class="indented align-items-center navbar navbar-expand-lg navbar-light navigation">
  
  <img src="assets/logo.png"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="#"><span i18n>Home </span><span class="sr-only"  i18n>(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="icon icon-info-circled" i18n>&#xe800;</i><span i18n>About</span></a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  i18n>
      Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#"  i18n>Menu1</a>
      <a class="dropdown-item" href="#"  i18n>Menu2</a>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"  i18n>Contact</a>
    </li>
  </ul>
  </div>
</nav>
