/* You can add global styles to this file, and also import other style files */
@font-face {
      font-family: 'contact';
      src: url('assets/fontello/font/contact.eot?60192984');
      src: url('assets/fontello/font/contact.eot?60192984#iefix') format('embedded-opentype'),
           url('assets/fontello/font/contact.woff?60192984') format('woff'),
           url('assets/fontello/font/contact.ttf?60192984') format('truetype'),
           url('assets/fontello/font/contact.svg?60192984#contact') format('svg');
      font-weight: normal;
      font-style: normal;
    }

.icon
    {
      font-family: "contact";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
/*
@media only screen and (min-width: 768px) {
  .indented{
    padding-left: 6rem;
    padding-right: 6rem;
  }
}    

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .indented{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .indented{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
*/

.indented{
  padding-left:10%;
  padding-right:10%;
}
